<section id="main-slider" class="no-margin">
    <div class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#main-slider" data-slide-to="0" class="active"></li>
        <li data-target="#main-slider" data-slide-to="1"></li>
        <li data-target="#main-slider" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active" style="background-image: url(assets/images/slider/bg1.jpg)">
          <div class="container">
            <div class="row slide-margin">
              <div class="col-sm-12">
                <div class="carousel-content">
                  <h1><span class="logo"><i class="fa fa-apple"></i> Employee Management System</span></h1>
                  <h2>The data is volatile! All edits are saved to original database!</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/.item-->
        
        <div class="item" style="background-image: url(assets/images/slider/bg2.jpg)">
          <div class="container">
            <div class="row slide-margin">
              <div class="col-sm-12">
                <div class="carousel-content">
                  <h1>Example of API calls using Angular App</h1>
                  <h2>The data is being fetched from MongoDB Atlas</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/.item-->
        
        <div class="item" style="background-image: url(assets/images/slider/bg3.jpg)">
          <div class="container">
            <div class="row slide-margin">
              <div class="col-sm-12">
                <div class="carousel-content">
                  <h1>Seneca College Project</h1>
                  <h2>Course Code: WEB422</h2>
                  <a class="btn-slide" href="about-us.html">Read More</a> </div>
              </div>
            </div>
          </div>
        </div>
        <!--/.item--> 
      </div>
      <!--/.carousel-inner--> 
    </div>
    <!--/.carousel--> 
    <a class="prev hidden-xs" href="#main-slider" data-slide="prev"> <i class="fa fa-chevron-left"></i> </a> <a class="next hidden-xs" href="#main-slider" data-slide="next"> <i class="fa fa-chevron-right"></i> </a> </section>
  <!--/#main-slider-->
  <div class="color-border"> </div>
  <section id="feature" >
    <div class="container">
      <div class="center">
        <h2>Featured Services</h2>
        <p class="lead">The template is taken from Influx</p>
      </div>
      <div class="row">
        <div class="features">
          <div class="col-md-6 col-sm-6">
            <div class="feature-wrap"> <i class="fa fa-desktop" routerLink="/employees"></i>
              <h2>Employees</h2>
              <h3>You may even click on above image to route to "Employees" page</h3>
            </div>
          </div>
          <!--/.col-md-4-->
          
          <div class="col-md-6 col-sm-6">
            <div class="feature-wrap"> <i class="fa fa-cogs" routerLink="/positions"></i>
              <h2>Positions</h2>
              <h3>You may even click on above image to route to "Positions" page</h3>
            </div>
          </div>
          <!--/.col-md-4-->
          

        </div>
        <!--/.services--> 
      </div>
      <!--/.row--> 
    </div>
    <!--/.container--> 
  </section>
  <!--/#feature-->