<div class="center">
    <h2>Positions</h2>
     </div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      
        <div class="table-responsive">
            <table class="table table-condensed table-hover">
              <thead>
                <td>Position Title</td>
                <td>Position Description</td>
                <td>Salary</td>
              </thead>
              <tbody *ngFor="let i of positions" (click)="routePosition(i._id)">
                <tr>
                <th>{{i.PositionName}}</th>
                <th>{{i.PositionDescription}}</th>
                <th>${{i.PositionBaseSalary | number:".2"}}</th>
                </tr>
              </tbody>
            </table>
          </div>

    </div>
  </div>
</div>