<div class="center">
  <h2>Position: {{position.PositionName}}</h2>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non odio sed eros tristique bibendum.</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form #f='ngForm' (ngSubmit)='onSubmit(f)'>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group" [class.has-error]="PositionName.errors">
              <label for="PositionName" class="control-label">Position Name:</label>
              <input #PositionName="ngModel" placeholder="Position Name" class="form-control" id="PositionName" type="text" name="PositionName" required [(ngModel)]="position.PositionName"/>  
              <span *ngIf="PositionName.errors && PositionName.errors.required" class="help-block">Position Name is Required</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group" [class.has-error]="PositionDescription.errors">
              <label for="PositionDescription" class="control-label">Description: </label>
              <textarea #PositionDescription="ngModel" placeholder="Position Description" class="form-control" id="PositionDescription" rows="5" name="PositionDescription" required [(ngModel)]="position.PositionDescription"></textarea>
              <span *ngIf="PositionDescription.errors && PositionDescription.errors.required" class="help-block">Description is Required</span>
            </div>
          </div>
        </div>
        <hr />
        <a routerLink="/positions" class="btn btn-warning pull-left">Return to Position List</a>
        <input [disabled]="!f.valid" type="submit" class="btn btn-primary pull-right" value="Update Position" />
        <br />
        <br />
      </form>
    </div>
  </div>
<br />
<div class="alert alert-success" *ngIf="successMessage">
  <strong>Success!</strong> Position: {{position.PositionName}} was successfully saved.
</div>
<div class="alert alert-danger" *ngIf="failMessage">
  <strong>Error!</strong> Position: {{position.PositionName}} could not be saved.
</div>
</div>
<br /><br />